/*-------------------------------------------- Header --------------------------------------------------- */
 header {
    color:#777
    border: 0;
    background: #f8f8f8;
    padding: 15px;
    letter-spacing: 5px;
}

.me {
    display: inline;
    cursor: pointer;
   
}
.me:hover{
    color: #5e5e5e;
}
.text {
    display: inline;
    float: right;
    margin: rigth;
    cursor: pointer;
    margin-right: 15px;
}
.text:hover{
    color:#1abc9c;
}

/*----------------------------------------- Main ------------------------------------------------------------*/


/* -----------------------------------========-Section  >Who Am I ?---------------------*/
 section.whoAmI { 
    background-color: #1abc9c;
    color:#ffffff;
    border: 0;
    text-align: center;
    padding: 30px;

}
img {

    width: 250px;
    border-radius:50%
}
h1{
  margin-bottom: 20px
}
h2{
  margin-top: 30px;
}
